<!DOCTYPE html>
<html>
<head>
<title>Home | NIL-SL</title>
  <link rel="stylesheet" type="text/css" href="../static_dir/css/main.css">
<!--  <link rel="stylesheet"  href="{{url_for('static',filename='../static_dir/css/todos.css') }}"> -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <script type="text/javascript" src="../static_dir/js/lib/jquery-2.1.4.min.js"></script>
  <!-- <script type="text/javascript" src="{{url_for('static',filename='../static_dir/js/lib/jquery-2.1.4.min.js') }}"></script> -->
</head>



<body>
<nav class="navbar navbar-inverse">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a class="navbar-brand" href="#">Snow/TDS</a>
      <ul class="nav navbar-nav navbar-right">
        <li ><a href="/entry">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
	<h1>{{x}}</h1>
  <h1>Grade - {{grade}}</h1> 
</div>

<div id="box">
    <h1>List of Questions:</h1>
    <h2>Beginner Level</h2>
    <ul id="topiclist">
      {% for key in msg1 %}
        <li name="{{key}}" value="{{cn}}"><span><i class="fa fa-trash" style=" vertical-align: middle;"></i></span><a  class ="main_item" href="/problem/{{ key |replace(' ', '-') }}">{{ key }}</a></li>
      {% endfor %}
    </ul>
</div>

<div id="box">
  <h2>Medium Level</h2>
    <ul id="topiclist">
      {% for key in msg2 %}
        <li name="{{key}}" value="{{cn}}"><span><i class="fa fa-trash" style=" vertical-align: middle;"></i></span><a  class ="main_item" href="/problem/{{ key |replace(' ', '-') }}">{{ key }}</a></li>
      {% endfor %}
    </ul>
</div>

<div id="box">
    <h2>Expert Level</h2>
    <ul id="topiclist">
      {% for key in msg3 %}
        <li name="{{key}}" value="{{cn}}"><span><i class="fa fa-trash" style=" vertical-align: middle;"></i></span><a  class ="main_item" href="/problem/{{ key |replace(' ', '-') }}">{{ key }}</a></li>
      {% endfor %}
    </ul>
</div>


<script type="text/javascript" src="../static_dir/js/todos.js"></script>
</body>
</html>