body{
    background: url("./abstract.jpg");
    background-position: left top;
    background-repeat: repeat;
    background-size: contain;
    font-family: Roboto;
}

/*.row {
    display: none; 
}*/

.element-wrapper {
	
	padding: 20px;
}